@orange: #f08a00;
@color: #005472;
@gray: #575756;
@lightgray: #ebebeb;

h1, h2, h3, h4, h5{
  font-family: 'Saira',sans-serif;
  color:#005472;
}

p{
  font-size:1.1rem;
    color: #575756;
  margin: 10px 0;
    line-height: 1.6;
}

a{
  transition: all 0.3s ease;
  color:#005472;
  &:hover{
    color:#f08a00;
  }
  
li{
  line-height: 30px;
}